spring:
  application:
    name: findex
  datasource:
    url: jdbc:postgresql://localhost:5432/findex
    username: findex_user
    password: findex1234
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: always
      continue-on-error: false

logging:
  level:
    org:
      hibernate:
        SQL: debug
        orm.jdbc.bind: debug
      springframework:
        data: debug